body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}


h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px; 
}


.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}


#book-form {
    display: flex;
    flex-direction: column;
}


input[type="text"],
input[type="number"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


button {
    padding: 10px;
    background-color: #9028a7;
    color: rgb(249, 244, 244);
    border: none;
    border-radius: 4px;
    font-size: 16px;
        
}


button:hover {
    background-color: #9028a7;
} 

a {
    display: block; 
    width: fit-content; 
    margin: 10px auto; 
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    text-align: center; 
}