body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #333;
}

.hidden {
    display: none;
}

.book-list {
    margin: 20px 0;
    background: #e7f3fe;
    border: 1px solid #b8e0f8;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
}


a {
    display: none; 
    width: fit-content; 
    margin: 10px auto; 
    padding: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    text-align: center; 
}